<!DOCTYPE HTML>

<html>
    <head>
        <script src="../public/js/jquery.min.js"></script>
        <script src="../public/js/ejs_production.js"></script>
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/main.css">
        <title>Portfolio Page</title>
    </head>
    <body>
        <h1>Your Portfolio</h1>
        <p>To buy more stocks access the <a href="/stocks">stock search</a>.</p>
        <br>
        <div id="stocks-bought"></div>
        <script src="../public/js/portfolio.js"></script>
    </body>
</html>