<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/main.css">
        <title>Signup Page</title>
    </head>
    <body>
        <h1>Signup Page</h1>
        <br>
        <form method="post">
            <input name="name" type="text" placeholder="First Name" autofocus autocomplete="off">
            <input name="email" type="email" placeholder="E-mail" autocomplete="off">
            <input name="password" type="password" placeholder="Password">
            <input type="submit" name="Submit">
        </form>
        <br>
        <p>Don't have an account? Sign in <a href="/">here</a>.</p>
    </body>
</html>