<!DOCTYPE HTML>

<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <script src="../public/js/ejs_production.js"></script>
    </head>
    <body>
        <h1>Stocks Page</h1>
        <br>
        <input name="symbol" id="symbol" type="search" placeholder="Type a stock symbol (e.g. AAPL or MSFT)">
        <div id="stock-table">       
<!--             <% if (name && symbol && lastPrice && open && change && percentChange) { %>
            <p> <%= name %> (<%= symbol %>) </p>
            <table>
                <thead>
                    <tr>
                        <th>Last Price</th>
                        <th>Open</th>
                        <th>Year's Change</th>
                        <th>Percentage Change</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th> <%= lastPrice %> </th>
                        <th> <%= open %> </th>
                        <th> <%= change %> </th>
                        <th> <%= percentChange %> </th>
                    </tr>
                </tbody>
            </table>
            <% } %> -->
        </div>
        <script src="../public/js/main.js"></script>
    </body>
</html>